* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.container-btns {
  justify-content: space-between;
  min-width: 500px;
  display: flex;
}

.active-btn,
.disabled-btn,
.danger-btn {
  transition: background 0.3s ease-out;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
}

.active-btn {
  border: 2px solid green;
  color: green;
}

.disabled-btn {
  border: 2px solid gray;
  color: gray;
}

.danger-btn {
  border: 2px solid red;
  color: red;
}

.active-btn:hover,
.danger-btn:hover {
  color: white;
}

.active-btn:hover {
  background: green;
}

.danger-btn:hover {
  background: red;
}
